doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://cdn.auth0.com/js/lock/10.11/lock.min.js")
    script(src="http://cdn.auth0.com/w2/auth0-7.2.js")
  body
    block content
