extends layout

block content
  img(src="#{user.profile.picture}")
  h2 Welcome #{user.profile.nickname}!
  br
  a(href='/admin') Admin Panel
  br
  a(href='/logout') Logout
  script(src="https://cdn.auth0.com/js/lock/10.0/lock.min.js")

  script.
    var lock = new Auth0Lock(
      '#{env.AUTH0_CLIENT_ID}',
      '#{env.AUTH0_DOMAIN}', {
        auth: {
          redirectUrl: 'http://localhost:3000/link',
          responseType: 'token',
        }
      }
    );

    function signin() {
      lock.show();
    }
