extends layout

block content
  div(id="root" style="width: 280px; margin: 40px auto; padding: 10px;")

  script.
    const webAuth = new auth0.WebAuth({
      clientID: '#{env.AUTH0_CLIENT_ID}',
      domain: '#{env.AUTH0_DOMAIN}',
      redirectUri: '#{env.AUTH0_CALLBACK_URL}',
      responseType: 'code',
      scope: 'openid profile'
    });
    webAuth.authorize();
