extends layout

block content
  br
  .w3-container
    .w3-card-4.w3-center
      img(src=user.picture)
      p Welcome #{user.nickname}
      form(method='POST' action='/user/update')
                div.form-group
                  label(for='country') Country: 
                  input.form-control(type='text' id='country' placeholder=user.user_metadata.country name='country')
                button.w3-button.w3-black.w3-round-large(type='submit') Update User Metadata
      br
      h3 User Profile
      pre #{userProfile}
