extends layout

block content
  script.
    var lock = new Auth0Lock(
      '#{env.AUTH0_CLIENT_ID}',
      '#{env.AUTH0_DOMAIN}'
    );

    lock.on("authenticated", function(authResult) {
      linkAccount(authResult.idToken);
    });

    function linkAccount(secondaryJWT) {
      // At this point you can fetch the secondary user_metadata for merging
      // with the primary account. Otherwise it will be lost after linking the accounts
      var primaryJWT = localStorage.getItem('idToken');
      var primaryUserId = localStorage.getItem('userId');
      $.ajax({
        type: 'POST',
        url: 'https://' + '#{env.AUTH0_DOMAIN}' + '/api/v2/users/' + primaryUserId + '/identities',
        data: {
          link_with: secondaryJWT
        },
        headers: {
          'Authorization': 'Bearer ' + primaryJWT
        }
      }).then(function(identities) {
        alert('Accounts linked!');
        window.location.href = '/user/';
      }).fail(function(jqXHR){
        alert('Error linking Accounts: ' + jqXHR.status + " " + jqXHR.responseText);
      });
    }
